.button {
  margin-top: 1rem;
  height: 3.125rem;
  border-radius: .5rem;
  font-weight: 500;
  background: #835afd;
  color: #FFF;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  transition: filter .2s;

  img {
    margin-right: .5rem;
  }

  &:not(:disabled):hover {
    filter: brightness(.9);
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}