.room-code {
  height: 2.5rem;
  border-radius: .5rem;
  overflow: hidden;

  background: #FFF;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;

  div {
    background: #835afd;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 .75rem;
    width: 14rem;
    font-size: .925rem;
    font-weight: 500;
  }
}