.question {
  background: #fefefe;
  border-radius: .5rem;
  box-shadow: 0 0.125rem .75rem rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: .5rem;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: .5rem;
        color: #737380;
        font-size: .9rem;
      }
    }
  }
}
